p {
    color: brown;
    text-align: justify;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
}

fieldset {
    border-color: blueviolet;
    border-width: 1px;
    border-radius: 50px;
}

legend {}